<div class="container">
  <header class="header">
    <h1 class="logo">
      <a href="/">
        <%= image_tag "logo.webp", style: "height: 242px; width: 242px; margin-top: 15px;", alt: "Pizza Dough Calculator. Easily calculate your next pizza recipe." %>
       </a>
    </h1>
  </header>
  <main class="main">
    <%= form_with url: "/dough", method: :get do |form| %>
      <%= render(
        InputComponent.new(
          name: "pizzas",
          label: "Number of pizzas",
          value: 2,
          step: 1,
        )
      ) %>

      <%= render(
        InputComponent.new(
          name: "weight_per_pizza",
          label: "Weight per pizza (grams)",
          value: 250,
          step: 1,
        )
      ) %>

      <%= render(
        InputComponent.new(
          name: "hydration",
          label: "Hydration (Water % optional)",
          value: "60",
          step: "1",
          min: "1",
          max: "99"
        )
      ) %>

      <div class="form-group">
        <label class="form-label" for="dough_type">Dough type</label>
        <select name="dough_type" id="dough_type" class="form-input">
          <option value="yeast" selected="selected">Yeast</option>
          <option value="sourdough">Sourdough</option>
        </select>
      </div>

      <small class="text-muted">
        <p>
          1) Pick the amount of pizzas you want to bake and your desired
          final dough weight. The weight depends on the size of your oven.</p>
        <p>
          2) You can optionally select the hydration of your dough or use
          the default 60%. This value depends on your flour.
        </p>
        <p>
          3) Calculate your perfect pizza dough.
        </p>
      </small>

      <%= button_tag "Calculate", class: "calculate-button" %>
    <% end %>

    <div class="more-info">
      <h1>Background</h1>
      <p>
        Typically the pizza dough weighs between 200 and 280 grams. For a
        home oven 250 grams is a recommended size. Change this value
        depending on the size of your oven.
      </p>
      <p>
        A real Neapolitan pizza consists of only flour water and salt.
        Traditionally sourdough has been used. Sourdough requires more
        advanced dough handling. Thus for beginners the yeast based dough
        is recommended. When making a sourdough pizza a stiff sourdough
        starter is recommended as it will boost the yeast rather than
        the bacteria. This allows for a longer leavening time.
      </p>
      <p>
        The key is to have all the ingredients in the exact quantity. To
calculate how much of each ingredient is used <a href="https://www.the-sourdough-framework.com/Makingasourdoughstarter.html#bakers-math">"Baker's Math"</a> is
        applied. This means the ingredients are calculated based on the
        amount of flour that you are using. So lets say the ingredient
        would say 60%, that would mean per every 100 grams of flour you
        need to add 60 grams of water. This way you can easily scale up
        the amount of pizzas that you want to bake.
      </p>
      <h1>The process</h1>
      <p>
        This flowchart shows you the full process of making a dough from
        start to finish.
      </p>
      <%= image_tag "pizza-process.webp", style: "max-width: 100%;", alt: "Neapolitan pizza flow chart" %>
      <h1>Instructions</h1>
      <p>
        You can read the full written recipe including <a href="https://breadco.de/pizza-text">detailed instructions here.</a>
      </p>
      <p>
        There are also 2 videos showing the full process. One video focuses
        on making a <a href="https://www.youtube.com/watch?v=l0nAMbbYziI">great yeast based pizza dough.</a>
        The second video focuses on <a href="https://www.youtube.com/watch?v=-60DxtcJ9Fo">making sourdough pizza.</a>
      </p>
      <p>
        Lastly if you have a question you can <a href="https://breadco.de/discord">join our discord server</a>. It's
        a great place to meet likeminded bakers.
      </p>
      <h1>Support my mission ⭐️</h1>
      <p>My mission with theBread.code(); is to enable everyone around the world
        to make great affordable pizza and bread at home. All my teachings are open source and
        free. Your support enables me to cover my running expenses and create more
        awesome tools like this calculator.
      </p>
      <p>You can support my cause with <a href="https://breadco.de/donate">a small donation</a>,
        or <a href="https://breadco.de/hardcover-book">purchasing a hardcover version</a>
        of my free book "The Sourdough Framework" (incredibly awesome gift for bread/pizza nerds).
      </p>
      <a href="https://breadco.de/hardcover-book">
        <%= image_tag "hendrik-book.webp", style: "max-width: 100%;", alt: "My Hardcover Book" %>
      </a>
      <p>Thank you ❤️.</p>
      <p>Hendrik aka. theBread.code();</p>
    </div>
  </main>
</div>
