<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= meta_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content="pizza dough, pizza dough calculator, neapolitan pizza, pizza calculator, pizza sourdough, the bread code" />
    <link rel="canonical" href="https://pizza-calculator.the-bread-code.io/" />
    <meta property="og:image" content="<%= image_url('share-image.webp') %>"/>
    <%= favicon_link_tag '/favicon.ico' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", "integrity": false %>
    <%= javascript_importmap_tags %>

    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
