<div class="form-group">
  <label class="form-label" for="<%= @name %>"><%= @label %></label>
  <input
    type="number"
    id="<%= @name %>"
    name="<%= @name %>"
    class="form-input"
    min="<%= @min %>"
    max="<%= @max %>"
    step="<%= @step %>"
    value="<%= @value %>"
    required
  />
</div>
